name: CI

on:
  push:
  pull_request:

jobs:
  windows:
    name: Windows build
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Cargo cache
        uses: Swatinem/rust-cache@v2

      - name: cargo check
        run: cargo check

      - name: cargo build
        run: cargo build
